<div id="aviso-option" class="btn-group">
  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-file-o"> </i> Cotización <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <li class="approve-quotation"><a href="#"><i class="fa fa-check"></i> Aprobar cotización </a></li>
    <li class="reject-quotation"><a href="#"><i class="fa fa-close"></i> Rechazar cotización </a></li>
  </ul>
</div>