<div id="aviso-option" class="btn-group">
  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-wrench"> </i> Aviso <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <li class="btn-aviso"><a href="#"><i class="fa fa-file"></i> Crear Aviso </a></li>
  </ul>
</div>