<div id="trabajo-option" class="btn-group">
  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-file-o"> </i> Trabajo <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <li class="approve-work"><a href="#"><i class="fa fa-check"></i> Aceptar trabajo </a></li>
    <li class="reject-work"><a href="#"><i class="fa fa-close"></i> Rechazar trabajo </a></li>
  </ul>
</div>