<span title="{{aviso.telefono}}">{{aviso.responsable.nombre}}</span>
<a tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{aviso.responsable.telefono}}">
  <i class="fa fa-info-circle"></i>
</a>