<form id="service-form">
  <fieldset>
    <legend class="pad-no">Datos del Servicio</legend>
    <div class="form-group">
      <label for="service">Tipo de servicio</label>
      <select id="service" name="service" class="form-control input-sm">
        <option value="">Seleccionar tipo de servicio</option>
        {{#each services}}
          <option value="{{id}}">{{name}}</option>  
        {{/each}}
      </select> 
    </div>

    <div class="form-group">
      <label for="note">Nota</label>
      <textarea class="form-control" rows="4" id="note" name="note" placeholder="Nota"></textarea>
    </div>

    <div class="form-group">
      <label for="require_quotation">Requiere Cotización?</label>
      <div class="input-group">
        <label class="radio-inline">
          <input type="radio" name="require_quotation" value="false">No
        </label>
        <label class="radio-inline">
          <input type="radio" name="require_quotation" value="true">Si
        </label>
      </div>
    </div>
  </fieldset>

  <!-- Property -->
  <fieldset>
    <legend class="pad-no">Datos de Contacto</legend>

    <div class="form-group">
      <label for="property">Seleccionar Propiedad</label>
      <select id="property" name="property" class="form-control input-sm">
        <option value="">Seleccionar propiedad</option>
        {{#each propertys}}
          <option value="{{id}}">{{direction}}</option>  
        {{/each}}
      </select> 
    </div>

    <div class="form-group">
      <label for="phone">Teléfono</label>
      <input type="tel" class="form-control" id="phone" name="phone">
    </div>

    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
  </fieldset>
  <!-- /Property -->

  <div id="scheduler" class="hidden">
    <!-- Dias de visita -->
    <fieldset>
        <legend class="pad-no">Seleccionar dias de visita</legend>

        <div class="form-group">
        <div class="input-group">
            {{#each days}}
            <label class="checkbox-inline">
                <input type="checkbox" name="days" value="{{id}}">{{name}}
            </label>
            {{/each}}
        </div>
        </div>
    </fieldset>
    <!-- /Dias de visita -->

    <!-- Horario de visita -->
    <div class="row">
        <div class="col-xs-12 col-sm-6">
        <fieldset>
            <legend class="pad-no">Seleccionar el horario de visita</legend>
            <div class="form-group">
            <p class="selected-days" id="selected-workingdays">&nbsp;</p>
            <div class="row">
                <div class="col-xs-6">
                <label for="checkin_wd">Hora inicio</label>
                <input type="text" class="form-control timepicker" id="checkin_wd" name="checkin_wd">
                </div>
                <div class="col-xs-6">
                <label for="checkout_wd">Hora fin</label>
                <input type="text" class="form-control timepicker" id="checkout_wd" name="checkout_wd">
                </div>
            </div>
            </div> 
            <span class="help-block">
            {{#each workingDays}}
                {{#if @first}}
                {{this.day_type.schedule_availability.message}}
                {{/if}}
            {{/each}}
            </span>
        </fieldset>
        </div>
        <div class="col-xs-12 col-sm-6">
        <fieldset>
            <legend class="pad-no">Seleccionar el horario de visita</legend>
            <div class="form-group">
            <p class="selected-days" id="selected-holidays">&nbsp;</p>
            <div class="row">
                <div class="col-xs-6">
                <label for="checkin_hd">Hora inicio</label>
                <input type="text" class="form-control timepicker" id="checkin_hd" name="checkin_hd">
                </div>
                <div class="col-xs-6">
                <label for="checkout_hd">Hora fin</label>
                <input type="text" class="form-control timepicker" id="checkout_hd" name="checkout_hd">
                </div>
            </div>
            </div> 
            <span class="help-block">
            {{#each holidays}}
                {{#if @first}}
                {{this.day_type.schedule_availability.message}}
                {{/if}}
            {{/each}}
            </span>
        </fieldset>
        </div>
    </div>
    <!-- /Horario de visita -->
  </div>

  <div class="form-group text-right">
    <a href="#service-requests" class="btn btn-default" data-dismiss="modal">Cerrar</a>
    <input type="submit" id="submit" name="submit" value="Crear solicitud" class="btn btn-primary btn-success">
  </div>
</form>