{{!--  Simulating faveo's vars --}}
<script type="text/javascript">
  var $org_id = "{{this.$org_id}}";
  var $ticket_id = "{{this.$ticket_id}}";
  var $org_name = "{{this.$org_name}}";
  var $token_api = "{{this.$token_api}}";
</script>

<h2>Saveo, faveo + sap!</h2>

<div id="generar">
  <h4>Informacion ticket: {{this.$ticket_id}}</h4>
</div>

{{!-- Simulate faveo's container --}}
<div id="customer_info"></div>
