<!-- Modal -->
<div class="modal fade" id="propertyModal" tabindex="-1" role="dialog" aria-labelledby="propertyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="propertyModalLabel">Actualizar propiedad</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="propiedad">Propiedad</label>
            <select id="propiedad" name="propiedad" class="form-control input-sm">
            <option value="">{{this._property.direction}}</option>
            </select> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#propertyModal" >{{this._property.direction}}</a>