<!-- Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="requestModalLabel">Crear solicitud de servicio</h4>
      </div>
      <div class="modal-body">
        {{> serviceform }}
      </div>
      {{!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Crear</button>
      </div> --}}
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<div class="col-xs-12 text-center">
  <h4>El ticket no tiene solicitud en el portal.</h4>
  <a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#requestModal" >Crear</a>
</div>

