{{#unless user.id}}
  <div class="col-xs-12 text-center">
    <h4>{{user.email}} no tiene usuario en el portal.</h4>
  </div>
{{else}}
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
            <b>Número aviso:</b>
          </td>
          <td>
            {{#if aviso.aviso_id}}
              {{aviso.aviso_id}}
            {{else}}
              {{> btnaviso }}
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>
            <b>Estado aviso:</b>
          </td>
          <td>
            {{#if aviso.aviso_nombre}}
              {{aviso.aviso_nombre}}
            {{else}}
              N/A
            {{/if}}

            {{!-- Mostrar boton trababo si el estado es RACE --}}
            {{#if aviso.isRACE}}
              {{> btnwork }}
            {{/if}}

          </td>
        </tr>
        <tr>
          <td>
            <b>Propiedad:</b>
          </td>
          <td id="property"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
            <b>Número de orden:</b>
          </td>
          <td>
            {{#if aviso.orden_id}}
              {{aviso.orden_id}}
            {{else}}
              Aun no tiene orden de servicio
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>
            <b>Estado orden:</b>
          </td>
          <td>
            {{#if aviso.orden_nombre}}
              {{aviso.orden_nombre}}
            {{else}}
              N/A
            {{/if}}
            {{!-- Mostrar boton cotizacion si el estado es RACO --}}
            {{#if aviso.isRACO}}
              {{>btnquotation}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>
            <b>Responsable:</b>
          </td>
          <td>
            {{#if aviso.responsable}}
              {{> inforesponsable }}
            {{else}}
              N/A
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{{/unless}}